.rc-message-box__container {
  background-color:#FFF;
}

.border-component-color {
    border-color: #CECECE !important;
}
.rooms-list__type {
  /*cursor:pointer;*/
}

.rooms-list .badge { 
    display:none;
    margin-left: .5rem;
	margin-right: .5rem;
}

.sidebar__header {
  padding-top: 15px;
}

.formatting-tips {
  display:none !important;
}

.flex-tab-bar {
	border-radius: 10px;
}

.fixed-title {
	background-color:#f8f8f8;
	border-width: 0 0 0 0;
    border-bottom: 1px solid #ececec !important;
}

.messages-container .footer {
	border-width: 0 0 0 0;
	z-index:10;
	background-color: #f8f8f8;
}

.messages-container .message-form textarea {
	background-color: #FFF;
}

.messages-container .message-form .users-typing { 
	background-color: transparent;
}


.flex-tab-container:hover {
  opacity: 1;
}

.flex-tab-container {
	position: absolute;
    right: 20px;
    padding-top: 10px;
    border: 0px solid #efefef;	
	transition: .5s;
  	opacity: .1;
	height: calc(80%);
}

.autogrow-shadow {
	display:none; 
}

.message-actions {
  right:3.4rem;
}
